$mid:#8AB987;
$dark-green:#65A061;
$highlight:#CFACAC;
$background:#EDEDED;
//$background:#fff;
$black:#000;
$light-pink:#E9D7D7;

$breakpoint-sm: 575px;
$breakpoint-md: 767px;
$breakpoint-lg: 991px;
$breakpoint-xl: 1199px;

